extends layout

block content
  h1 Subscribers

  p.
    List of current subscribers

  ul
    each val, index in subscribers
      li= index + ' | ' + val.phone + ' | ' + val.email + ' | ' + val.subscribed